# Core framework
fastapi
uvicorn[standard]

# Database + ORM
sqlalchemy
psycopg2-binary   # Postgres driver
alembic           # Migrations

# Authentication + Security
python-jose[cryptography]   # JWT handling
passlib[argon2]             # Password hashing

# Data validation
pydantic
pydantic[email]             # For EmailStr support
pydantic-settings           # For BaseSettings
python-multipart            # For Form and UploadFile

# Background Tasks
celery
redis

# Utilities
python-dotenv     # Load .env files